/* #root {
   text-align: center;
   display: flex;
   justify-content: center;
   width: 100vw;
   min-height: 100vh;
   overflow: hidden;
   background: linear-gradient(#e66465, #9198e5);
 }
#root {
   display: flex;
   flex-direction: column;
justify-content: center;
   align-items: center;
   background-size: auto;
   width: 100%;
 }
 */

 #root {
  width: 100%;
 }
 
 .app>div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .row {
   flex-direction: row !important;
 }
 
 .row>* {
   margin: 5px;
 }
 
 /* h1 {
   font-family: 'Damion', cursive;
   color: #fff;
   text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
 } */
 
 /* h2 {
   color: #fff;
 } */
 
 .swipe {
  position: absolute;
  top: 19%;
  width: 70%;
  left: 15%;
 }
 
 .cardContainer {
   /* width: 90vw;
   max-width: 260px;
   height: 300px; */
   margin: 0 auto;
   width: 80%;
 }
 
.artists__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

 .card {
   position: relative;
   background-color: #fff;
   height: 523px;
   /* max-width: 260px;
   height: 300px; */
   /* border-radius: 20px;
   background-size: cover;
   background-position: center; */
   background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 0px 100px;
  align-items: center;
  width: 800px;
  margin: 0 auto;
 }

 .card__photo {
  margin-top: -70px;
  height: 250px;
  border-radius: 29px 0;
 }
 
 .cardContent {
   width: 100%;
   height: 100%;
 }
 
 .swipe:last-of-type {
 
 }
 
 
 .infoText {
   width: 100%;
   height: 28px;
   justify-content: center;
   display: flex;
   /* color: #fff; */
   animation-name: popup;
   animation-duration: 800ms;
 }
 
 .buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  gap: 30px;
  top: 84%;
 }
 
 /* .buttons button {
   flex-shrink: 0;
   padding: 10px;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   background-color: #9198e5;
   transition: 200ms;
   margin: 0 10px;
   font-weight: bolder;
   width: 160px;
   box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
 } */
 
 .buttons button:hover {
   transform: scale(1.05);
 }
 
 @keyframes popup {
   0%   { transform: scale(1,1) }
   10%  { transform: scale(1.1,1.1) }
   30%  { transform: scale(.9,.9) }
   50%  { transform: scale(1,1) }
   57%  { transform: scale(1,1) }
   64%  { transform: scale(1,1) }
   100% { transform: scale(1,1) }
 }

 .wrapper__profile {
  display: flex;
  flex-direction: row;
 }

 .modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;

}


.modal__content {
  padding: 20px;
  border-radius: 15px;
  background-color: red;
  width: 50vw;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 500px;

}

.modal__img {
  width: 252px;
  height: 250px;
}
/* 
.modal__content.active {
  transform: scale(1);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

.modal__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 43px;
  align-items:center;
  margin-top: 30px;
}

.modal__button {
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background-color:rgba(129, 179, 210, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
  width: 300px;
}

.modal__button-close {
  padding: 0px;
  font-size: 16px;
  width: 26px;
}

.modal__button-close:hover {
  opacity: 0.7;
}

input {
  width: 400px;
  box-sizing: border-box;
  padding: 7px;
  background-color:  #F2F2F2;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  border: none;
} */

.card__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__percent {
  text-align: right;
  margin-right: 29px;
}

.card_avatar {
  margin-top: -70px;
}

.card__artists {
  width: 80px;
}

.artist__item {
  width: 80px;
}


.card__genres {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.genres__card {
  font-size: 12px;
  white-space: nowrap;
  padding: 10px;
}

.card__percent {
/* font-family: 'Rubik Mono One', sans-serif; */
font-style: normal;
font-weight: 400;
font-size: 40px;
/* line-height: 58px; */
text-align: right;
letter-spacing: -0.015em;
margin-left: 20px;
color: #000000;

}

.button__card {
  font-size: 27px;
  width: 200px;
}

.match {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.match__item {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
}

.modal__match {
  box-shadow: 0px 4px 25px rgb(0 0 0 / 10%);
  border-radius: 0px 100px;
  width: 662px;
}

.buttons__match {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.match__name {
  font-size: 23px;
  font-weight: 400px;
}

.card__bio {
  width: 84%;
  text-align: center;
}