.spoty__content {
   display: flex;
   flex-direction: column;
   width: 900px;
   align-items: center;
   margin-top: 80px;
}

.spoty__title {
   color: white;
   margin-top: 30px;
}

.container__wrapper {
   margin: 0 auto;
   width: 900px;
}